# http://editorconfig.org

[docs/*]
trim_trailing_whitespace = false

[test/sample*.ts]
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[test/expect*.js]
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
